<?php

use FwsDoctrineAuth\Entity\BaseUser;
use Laminas\Form\Element\Email;
use Laminas\Session\Validator as SessionValidator;
use Laminas\Session\Storage\SessionArrayStorage;
use FwsDoctrineAuth\Form;
use FwsDoctrineAuth\Model\TwoFactorAuthentication\Adapter;

return [
    'doctrine' => [
        /**
         * Configure doctrine connection, you may have this defined elsewhere
         */
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => [
                    'host' => 'localhost',
                    'port' => '3306',
                    'dbname' => 'your_database',
                    'user' => 'your_db_user',
                    'password' => 'your_password',
                ],
            ],
        ],
        /**
         * Configure doctrine authentication
         */
        'authentication' => [
            'orm_default' => [
                'identity_class' => BaseUser::class, // <- Doctrine entity to use, default \FwsDoctrineAuth\Entity\BaseUser
                'identity_property' => 'emailAddress', // <- email address, username etc.
                'credential_property' => 'password',
            ],
        ],
    ],
    'doctrineAuth' => [
        /**
         * Misc settings
         */
        'siteName' => 'Example Site', // the name of your website
        'siteCountryCode' => 'GB', // 2 character ISO 3166 Country Code
        'sendEmails' => true, // <- Send emails if true or create email file if false. Handy if development server is not setup to send emails. Remember to set true on production server
        'emailsFolder' => 'emails', // <- Location to store email files relative to your application root, only used if the above is set to false, remember to create folder(s)
        /**
         * Encryption moved to krytenuk/doctrine-crypt module
         * @see https://www.freedomwebservices.net/laminas/fws-doctrine-crypt
         */
        /**
         * Registration
         */
        'allowRegistration' => true, // <- allow new users to register from the frontend
        Form\Service\DoctrineAuthFormFactory::REGISTRATION_FORM => Form\RegisterForm::class,
        'registrationCallback' => '', // <- class to use as callback in registration, must use __invoke() magic method
        'autoRegistrationLogin' => false, // <- Auto login after registration
        'userActiveAfterRegistration' => 1, // <- user active after registration, 1 = active, 0 = inactive
        /**
         * Login
         */
        Form\Service\DoctrineAuthFormFactory::LOGIN_FORM => Form\LoginForm::class,
        'loginCallback' => null, // <- class to use as callback during login, must use __invoke() magic method
        'maxLoginAttempts' => 3, // <- Max login attempts allowed, 0 = unlimited
        'maxLoginAttemptsTime' => 5, // <- Number of minutes user can make the above login attempts, by default a user can make 3 wrong attempts within a 5-minute period before becoming blocked
        'loginReleaseTime' => 0, // <- Number of minutes user remains blocked for, 0 = don't unblock. If used should be greater than the above maxLoginAttemptsTime
        /**
         * Password reset
         */
        'allowPasswordReset' => true, // <- Show reset password link on login form and allow password reset
        Form\Service\DoctrineAuthFormFactory::FORGOTTEN_PASSWORD_FORM => Form\ForgottenPasswordForm::class,
        Form\Service\DoctrineAuthFormFactory::RESET_PASSWORD_FORM => Form\ResetPasswordForm::class,
        'passwordLinkActiveFor' => 24, // <- Password reset link active for hours
        'fromEmail' => 'no-reply@example.com', // <- Email address for password reset link email, set reply to and from email
        /**
         * Form labels and credential form element class
         */
        'formElements' => [
            'identity_label' => 'Email Address', // <- Form label for identity_property
            'credential_label' => 'Password', // <- Form label for credential_property
            'identity_property_element' => Email::class, // <- Laminas Form Element FQCN for identity property, default Email::class @todo Document this
        ],
        /**
         * Two-factor authentication
         */
        'useTwoFactorAuthentication' => false, // <- Use two-factor authentication
        Form\Service\DoctrineAuthFormFactory::SELECT_2FA_METHODS_FORM => Form\SelectTwoFactorAuthMethodForm::class, // <- Select authentication method during login form
        Form\Service\DoctrineAuthFormFactory::TWO_FACTOR_AUTHENTICATION_CODE_FORM => Form\TwoFactorAuthenticationCodeForm::class, // <- Enter authentication code form
        'allowedTwoFactorAuthenticationAdaptors' => [
            Adapter\EmailAdapter::class,
            Adapter\BulkSmsAdapter::class,
            Adapter\AuthenticationAppAdapter::class,
        ],
        'twoFactorCodeActiveFor' => 10, // <- 2fa auth code active time in minutes after generation
        /** SMS */
        'bulkSmsUsername' => 'yourUsername', // <- Your BulkSMS username
        'bulkSmsApiTokenId' => 'yourApiToken', // <- Your BulkSMS API token id
        'bulkSmsApiTokenSecret' => 'yourApiTokenSecret', // <- Your BulkSMS API token secret
        'smsFrom' => 'Your Site', // Sms from text, max 11 characters
        /** Email */
        'emailSubject' => 'Example Site login authentication request', // <- Subject line of 2FA email
        /** HTTP proxy settings */
        'useHttpProxy' => false, // Use HTTP proxy header when  retrieving a clients IP address
        'proxyHeader' => null, // HTTP proxy header to check for the client's IP address, only used if useHttpProxy is set true, defaults to 'X-Forwarded-For'. @see Laminas\Http\PhpEnvironment\RemoteAddress
    ],
    /**
     * Configure laminas-session as per your requirements
     */
    'session_manager' => [
        'validators' => [
            SessionValidator\RemoteAddr::class,
            SessionValidator\HttpUserAgent::class,
        ],
    ],
    'session_storage' => [
        'type' => SessionArrayStorage::class
    ],
    'session_config' => [
        'cookie_lifetime' => 60 * 60,// <- Session cookie will expire in 1 hour.
        'gc_maxlifetime' => 60 * 60 * 24 * 30,// <- Session data will be stored on server maximum for 30 days.
    ],
    /**
     * Configure laminas translator as per your requirements
     * Remove if set elsewhere
     */
    'translator' => [
        'locale' => 'en_GB',
        'translation_file_patterns' => [
            [
                'type' => 'gettext',
                'base_dir' => getcwd() .  '/data/language',
                'pattern' => '%s.mo',
            ],
        ],
    ],
];